{% extends 'base.html.twig' %}
{% block title %}
    Welcome to homepages
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('homepage') }}">Myapps</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Navbar text with an inline element
                </span>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="bg-light">
        <div class="container">
            <p class="lead">Hello {{ from|capitalize }}</p>
            <button class="btn btn-primary">Button</button>
            <p id="quick-math">1+1 = {{ number }}</p>
            <p id="rahasia">{{ secret_key }}</p>
            <img src="{{ asset('images/images.jpg') }}" class="img-thumbnail"/>
        </div>
    </div>
{% endblock %}
