{% extends '@base/home.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="py-5 my-5">
    <p class="lead">
        product id: {{ product_id }}<br/>
        product name: {{ product_name|capitalize }}<br/>
        product description: {{ product_description|capitalize }}<br/>
        product color: {{ product_color|capitalize }}</br>
        product price: ${{ product_price|capitalize }}
    </p>
</div>
{% endblock %}
